.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    z-index: 100;
    width: 100%;
    top: 0;
    border-bottom: 2px solid whitesmoke;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left:20px;
}


.header__right {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
    background: transparent;
    cursor: pointer;
}